{% extends "jobs/base.html" %} {% block search %}
<h2 class="text-3xl mb-4 text-grey-900 font-bold">Active Searches</h2>
<a id='update' href='/update' onclick=updateResults() class='text-white rounded font-bold text-sm px-4 py-2 mx-auto text-center bg-blue-700 hover:bg-blue-800'>UPDATE ALL</a>
<div class="mt-2 flex flex-col flex-wrap mx-auto items-center rounded-md">
    {% for search in all_searches %}
    <div class='my-2 p-2 flex flex-row bg-white shadow'>
        <a href=/results/{{search.search_key}} class="rounded-md h-full text-center w-3/4 text-lg py-2 hover:text-blue-700">
            <p><span class="font-bold capitalize">{{ search.job }}</span> in <span class="capitalize">{{search.country}}</span>: {{ search.results.count }} results.</p>
            {% if  search.update_date|timesince == search.update_date|timeuntil %}
            <p class='text-gray-800 italic text-xs'>Last updated: ongoing</p>
            {% else %}
            <p class='text-gray-800 italic text-xs'>Last updated: {{ search.update_date|timesince }} ago.</p>
            {% endif %}
        </a>
        <span class='flex flex-col w-1/4'>
            <form class="text-center" action="delete_search/" method="get">
                <button type="submit" class='text-base font-mono font-bold text-red-600 ml-8 hover:text-black' name='delete' value='{{search.job}}&&{{search.country}}'>X</button>
            </form>
            <form class="text-center" action="update/" method="post">
                {% csrf_token %}
                <button type="submit" onclick=updateResults() class='text-sm text-black ml-8 hover:text-blue-700' name='update' value='{{search.job}}&&{{search.country}}'>update</button>
            </form>
        </span>
    </div>
    {% endfor %}

</div>
<script>
    // var el = document.getElementById('update');
    // el.onclick = updateResults;

    function updateResults() {
        document.getElementById('text').innerHTML = `
        <svg class="animate-spin -ml-1 mr-3 h-7 w-7 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-50" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Offers are being added in the background, this might take a while.`;
    }
</script>

{% endblock %}